<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="icofont/icofont.min.css">
    <link rel="stylesheet" href="css/main.css">
       
    <title>TEXTO CHAMATIVO COM O NOME DA INSTITUIÇÃO</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light configNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/ingles.png" width="150px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="icofont-navigation-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="boots.html?page=inicio">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="boots.html?page=cursos">Cursos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="boots.html?page=metodologias">Metodologias</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="boots.html?page=depoimentos">Depoimentos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="boots.html?page=comece">Comece agora mesmo!</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<main>
    <a href="#" id="teste" onclick="false">Teste</a>
  <div class="container" id="content">
</div>
</main>
 
      
  
    <!--FOOTER-->
<footer class="page-footer">
  <div class="container">
  
  </div>
  <div class="footer-copyright">
  <div class="container">
  © 2022 Todos os Direitos Reservados
  <a class="right" href="#!">Feito por Sandra Coelho</a>
  </div>
  </div>
  </footer>
        
             
    <scipt src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>